.company_box {
  position: relative;
}
.comMsg {
  background: #fff;
  padding: 24px;
  margin-bottom: 20px;
}
.ivu-table-wrapper {
  border: 0;
}
.demo-drawer-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  background: #fff;
}
.btnMedal {
  position: absolute;
  top: -2px;
  right: 0px;
}

.ivu-table th {
  text-align: center !important;
  font-size: 16px;
  height: 50px;
  color: #5b5b5b;
}
.ivu-table-stripe .ivu-table-body tr.ivu-table-row-hover td,
.ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-hover td {
  background-color: #f1f6ff;
}
.ivu-table-stripe .ivu-table-body tr td,
.ivu-table-stripe .ivu-table-fixed-body tr td {
  text-align: center;
  font-size: 14px;
}
.ivu-table-stripe .ivu-table-body tr td,
.ivu-table-stripe .ivu-table-fixed-body tr td {
  background-color: #f1f6ff;
}

.demo-drawer-footer {
  margin: 0 auto;
}
.ivu-drawer-content {
  background: #f8f8f8;
}
.ivu-input {
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding-left: 20px;
  color: #5b5b5b;
  font-size: 16px !important;
}
.ivu-form .ivu-form-item-label {
  font-size: 16px !important;
  text-align: right;
  float:left;
  width: 115px;
  /* height:48px;
  line-height: 48px; */
}
.ivu-form-item-content {
    float: right;
    width: calc(100% - 115px);
}
.ivu-drawer-header p,
.ivu-drawer-header-inner {
  font-size: 18px !important;
}
.formitem {
  width: 70%;
  margin-left: 25%;
}
.forminput {
  width: 67%;
}
.demo-drawer-footer {
  background: transparent;
  position: relative;
  border: 0;
  padding: 16px 0;
}

.setW {
  width: 120px;
  height: 40px;
  font-size: 18px !important;
  float:left;
  margin-left:116px;
  margin-right:16px;
}
.setW:nth-child(2) {
  margin-left: 0;
}
.MaterialList {
  width: 180px;
  height: 30px;
  /* height:48px; */
  border-color: #dcdcdc;
  font-size: 16px;
  color:#5f5f5f;
  border-radius: 4px;
  margin-top: -4px;
  outline-style: none;
}
.ivu-table td, .ivu-table th {
  text-align: center;
  font-size: 14px;
  color:#5b5b5b;
}
.ivu-table th {
  font-size: 16px;
  font-weight: 700;
  color:#5b5b5b;
}
.titleChild {
  padding:20px;
  float: left;
}
.titleChild img{
  margin-right: 12px;
}

.titleChild span {
  font-size: 16px;
      color:#5f5f5f;
      font-weight: 700;
}
.btnMedalChild {
  float: right;
  margin-top: 20px;
}

.updata {
  width: 100%;
}
.updata>div {
  width: 100%;
}

/* .ivu-input{
  height:48px !important;
  width:391px !important;
} */
.ivu-drawer-wrap .ivu-form-item-label{
  height: 48px !important;
  line-height: 18px !important;
}
.ivu-drawer-wrap .ivu-upload-select button{
  height: 48px !important;
  /* width:391px !important; */
  /* margin-top: 15px; */
}
.ivu-drawer-wrap .MaterialList {
  height: 48px !important;
  width:391px !important;
}

.ivu-drawer-wrap .ivu-input,.ivu-drawer-wrap .MaterialList,.ivu-drawer-wrap .ivu-upload-select  {
  height:48px !important;
  width:391px !important;
}
.ivu-spin-main .ivu-spin-text{
  font-size: 18px;
}
.company_box .ivu-spin {
  padding-top: 300px !important;
}